mixin vTab(data)
	ul(class="vTab")
		each item in data
			li(class={'vTab__item': true, 'vTab__item--active': item.active})
				div(class="vTab__nav")
					div(class="vTab__dotContainer")
						div(class="vTab__dot")
				div(class="vTab__content")
					p(class="vTab__title") #{item.title}
					div(class="vTab__textGroup")
						each text in item.text
							p(class="vTab__text") #{text}


//- mixin level(data)
//- 	ul(class="level")
//- 		each item in data
//- 			li(class="level__item")
//- 				a(class="level__link" href="/product/page1")
//- 					div(class="level__sticker")  #{item.sticker}
//- 					div(class="level__imgTextContainer")
//- 						img(class="level__img" src="/assets/images/#{item.url}.png")
//- 						div(class="level__text")
//- 							h3(class="level__eng") #{item.title}
//- 							p(class="level__chi") #{item.name}


mixin level(data)
	ul(class="level")
		each item in data
			li(class="level__item")
				a(class="level__link" href="/product/page1")
					div(class="level__sticker")  #{item.sticker}
					img(class="level__img" src="/assets/images/#{item.url}.png")
					h3(class="level__eng") #{item.title}
					p(class="level__chi") #{item.name}

mixin space(data)
	ul(class="space")
		each item in data
			li(class="space__item")
				a(class="space__link" href="/findcolor/draw.html?#{item.link}")
					div(class="space__imgTextContainer")
					div(class="space__textBox")
						h2(class="space__title") #{item.title}
						p(class="space__text") #{item.text}
					div(class="space__background")


//- mixin idea(data)
	ul(class="idea")
		each item in data
			li(class="idea__item")
				a(class="idea__link" href="/inspiration/page1")
					div(class="idea__imgTextContainer")
					div(class="idea__textBox")
						h3(class="idea__title") #{item.title}
						p(class="idea__text") #{item.text}
					div(class="idea__background") 

mixin gallery(data)
	ul(class="gallery")
		each item in data
			li(class="gallery__item")
				a(class="gallery__link" href="#{item.link}")
					div(class="gallery__thumbnail", style="background-image: url('#{item.img}')")
					div(class="gallery__caption")
						p(class="gallery__title") #{item.title}
						p(class="gallery__text") #{item.text}




mixin news(data)
	ul(class="news")
		each item in data
			li(class="news__item")
				a(class="news__link" href="/news/page1")
					div(class="news__imgTextContainer")
					div(class="news__textBox")
						h3(class="news__title") #{item.title}
						p(class="news__text") #{item.text}
					div(class="news__background")


mixin productForRugo(data)
	ul
		each item in data.li
			li #{item}
	each item in data.p
		p #{item}