mixin vTab(data)
	ul(class="vTab")
		each item in data
			li(class={'vTab__item': true, 'vTab__item--active': item.active})
				div(class="vTab__nav")
					div(class="vTab__dotContainer")
						div(class="vTab__dot")
				div(class="vTab__content")
					p(class="vTab__title") #{item.title}
					div(class="vTab__textGroup")
						each text in item.text
							p(class="vTab__text") #{text}


mixin level(data)
	ul(class="level")
		each item in data
			li(class="level__item")
				div(class="prLayout__imgTextContainer")
					img(class="prLayout__img" src="/assets/images/#{item.url}.png")
					div(class="prLayout__text")
						h3(class="prLayout__eng") #{item.title}
						p(class="prLayout__chi") #{item.name}

